.profile{
    width: 100%;
    margin-top: 55px;
    margin-bottom: 80px;
  
}
.profile-content{
    /* padding-left: 25px !important;
    padding-right: 25px !important; */
    width: 100%;
  
}
.profile-content1{
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.top-profile-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #3f3f3f;
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    margin-top: 30px;
}
.top-profile-img-cont{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0px auto;
}
.top-profile-cont-1{
    background: transparent !important;
    margin-top: -50px;
}
.top-profile-img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #3f3f3f;

}
.top-title1{
    text-align: center;
    font-size: 18px;
    color: #d3d3d3;
    text-transform: capitalize;
    padding-top: 3px;
    background: #3f3f3f;

}
.top-title2{
    text-align: center;
    font-size: 11px;
    color: #aaaaaa;
    padding-top: 1px;
    background: #3f3f3f;

}
.profile-btn{
    background: linear-gradient(to right, #feee3e,#f68426,#f68426,#f68426,#f68426) !important;
    width: 100px;
    outline: none;
    text-transform: uppercase;
    font-weight: 600 !important;
    border-radius: 20px !important;
    height: 25px !important;
    border:  none !important;
    margin: 0px auto;
    font-size: 10px !important;
    margin-bottom: 5px !important;
}
.top-profile-text{
    font-size: 12px;
    color: #aaaaaa;
    background: transparent;
    margin: 0px auto;
}
.profile-location{
    display: flex;
    background: transparent;
    margin: 5px auto;
}
.location-icon{
    background: transparent;
    color: #f68426;
    margin-right: 10px;
}
.profile-location-text{
    background: transparent;
    font-size: 12px;
    color: #aaaaaa;
}
.bottom-profile-content{
    margin-top: 40px;
    padding-left: 25px !important;
    padding-right: 25px !important;
}
.follower{
    display: flex;
    margin: 7px auto;
    background: transparent !important;
}
.single-follower{
    text-align: center;
    background: transparent !important;
    margin-right: 20px;
}
.single-follower-text{
    font-size: 20px;
    text-align: center;
    color: #e9e9e9;
    background: transparent !important;
    text-transform: uppercase;
}
.single-follower-action{
    font-size: 13px;
    background: transparent !important;
    color: #aaaaaa;
    text-transform: capitalize;
}
.profile-links{
    margin: 10px auto -10px auto;
    background: transparent !important;
}
.profile-link-btn{
    width: 80px;
    font-size: 10px !important;
    border-radius: 50px !important;
    color: #e9e9e9;
    background: #aaaaaa;
    height: 20px;
    text-align: center;
    line-height: 1rem;
    border: none;
    outline: none;
    padding-top: -10px !important;
    margin-right: 10px;
    /* margin-top: 10px; */
}
.actives{
    background: #f68426 !important;
}